

$w: 300px;
$h: $w;

.watch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rev{
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.rev{
    animation-name:rev;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

.spin{
   animation-name:spin;
   animation-iteration-count:infinite;
   animation-direction:linear;
}

.all{
    width:$w;
    height:$h;
    //margin:100px auto;
    position:relative;
}


.layer{
   width:$w;
   height:$h;
   position:absolute;
}

.seconds {
    background: url('../../public/assets/seconds.svg') center center no-repeat;
    background-size: cover;
    animation-duration: 60s;
    //animation: spin 60s linear infinite;
    z-index: 3;
}

.minutes {
    background:url('../../public/assets/minutes.svg') center center no-repeat;
    background-size: cover;
    animation-duration: 3600s;
    //animation:spin 3600s linear infinite;
    z-index:2;
}

.hours{
    background:url('../../public/assets/hours.svg') center center no-repeat;
    background-size: cover;
    animation-duration: 43200s;
    //animation:spin 43200s linear infinite;
    z-index: 1;
}

.overlay{
    background:url('../../public/assets/overlay.svg') center center no-repeat;
    background-size: cover;
    z-index:10;
}

.watchface{
    background:#232323 url('../../public/assets/backface.svg') center center no-repeat;
    background-size: cover;
    border-radius: 100%;
    box-shadow:0 0 50px rgba(0,0,0,0.7);
    z-index:0;
}